<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-Me</title>
    <link rel="stylesheet" type="text/css" href="/static/style3.css">
</head>
<body>
<div class="container-fluid">
    <h1>OK FASHION</h1>
    <p>There are so many different types of apparel to choose among, and the options
        have only grown more varied throughout history. There are clothing brands,
        clothing choices for every occasion and style preference from whichever brand you like,
        as well as choices tied strongly to culture. Find out about the many different types
        and styles of attire, including historical fashions and modern selections.</p>
    <p class="a1">Many Clothing Options</p>
<p class="a2">Clothing styles are as varied as there are people and purposes. </p>
    <ul>
        <li>Professional Attire:</li>
            <p class="b">Discover the background of workplace apparel options,
                including business suits and casual business dress.</p>

        <li>Formal occasions:</li>
            <p class="b">Find out about the evolution of formal wear, from glamorous
                women's cocktail dresses and ball gowns to men's tuxedos.</p>

        <li>Trendy styles:</li>
            <p class="b"> Get information on fashion trends, ranging from street style to
                punk looks, as well as other popular teenage fashions.</p>

        <li>Clothing for travel:</li>
            <p class="b"> Learn about choosing appropriate clothing for travel, such as
                Hawaiian shirts for beach wear and ski clothing for the slopes.</p>

        <li>Exercise wear:</li>
            <p class="b"> Learn about different types of workout wear, sweatshirts.</p>

        <li>Sports:</li>
            <p class="b"> Discover apparel designed for specific sporting activities,
                such as bicycle clothing and golf wear.</p>

    </ul>

    <p class="a1">Clothing Evolution</p>
    <p class="a2">When you are interested in learning more about the fascinating history of various
    clothing options and how fashion choices have evolved over time,
        there is no better resource than LoveToKnow Fashion History.</p>
</div>
</body>
</html>